<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <test name="Test">
        <parameter name="browser" value="firefox"/>
        <parameter name="os" value="windows"/>
        <classes>
<!--            <class name="TestCases.TC1AccountRegisterTest">-->
               <class name="TestCases.TC2Login"/>
        </classes>
    </test>
</suite>